.notificationContainer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  width: max-content;
  padding: 10px;
  padding-inline: 15px;
  border-radius: 7px;
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100000;
  text-transform: capitalize;
  font-family: var(--font-sans-serif);
  font-size: 17px;
  font-weight: 500;
}
