.contactsPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;

  .contactContainer {
    display: flex;
    column-gap: 10px;
    align-items: center;
    //flex-direction: column;
    font-family: var(--font-code);
    font-size: 21px;
    font-weight: 500;
    padding: 10px;
    padding-inline: 15px;
    border-radius: 10px;
    transition: 0.3s;
    color: var(--text-primary);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .creditsText {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 20px;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;

    .heart {
      color: var(--text-red);
    }
  }
}
