.errorContainer {
  height: 5px;
  width: max-content;
  //overflow: hidden;
  transition: height 0.2s;

  &[data-error='true'] {
    height: 20px;
  }

  .error {
    color: var(--red);
    font-size: 12px;
    font-family: var(--font-primary);
  }
}
