.button {
  --text-accent: var(--text-primary);
  --background-accent: var(--background-third);

  font-family: var(--font-primary);
  background-color: var(--background-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  padding-inline: 15px;
  font-size: 15px;
  color: var(--text-accent);

  transition: 0.4s;

  &:hover {
    background-color: var(--text-accent);
    color: var(--background-accent);
  }
}
