.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;

  .title {
    font-weight: 700;
    font-family: var(--font-primary);
    font-size: 26px;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .textAreaContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-primary);
    --border-radius: 3px;
    border-radius: var(--border-radius);

    .tabs {
      //padding: 10px 10px 10px 15px;
      display: flex;
      align-items: center;
      backdrop-filter: blur(10px);
      width: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background-color: var(--background-secondary);

      .tabContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 10px;
        margin-top: 5px;
        background-color: var(--background-primary);
        cursor: pointer;
        border-radius: 5px;

        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: var(--green);
          z-index: 10;
        }

        .tabContent {
          display: flex;
          align-items: center;
          column-gap: 5px;

          .tabTitle {
            font-weight: 600;
            font-size: 20px;
          }
        }

        &[data-active='true'] {
          background: none;
          backdrop-filter: blur(2px);
        }
      }
    }

    .textArea {
      padding: 15px;
      border: none;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      font-family: var(--font-secondary);
      height: 380px;
    }

    .previewContainer {
      background-color: var(--background-secondary);
      backdrop-filter: blur(2px);
      height: 380px;
      padding: 32px;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      overflow: scroll;
    }
  }

  .buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
