.modalScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(4px);
  //z-index: 10000;

  .modalContent {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-primary);
  }
}