.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 800px;
    width: 100%;
    column-gap: 20px;

    .homeLink {
      width: max-content;
      height: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      img {
        height: 30px;
        transition: 0.2s;

        &:hover {
          filter: blur(3px);
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-family: var(--font-primary);
      font-weight: 700;
      color: var(--text-secondary);
      font-size: 20px;

      svg {
        path {
          stroke: var(--text-secondary);
        }
      }

      svg path,
      span {
        transition: filter 0.2s;
      }

      &:hover {
        span {
          filter: blur(2px);
        }
      }

      &[aria-current='page'] {
        svg path {
          stroke: var(--text-primary);
          color: var(--text-primary);
        }
      }
    }
  }
}
