.input {
  font-family: var(--font-primary);
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  border-radius: 3px;
  width: 100%;

  &::placeholder {
    font-family: var(--font-primary);
  }
}

.inputContainer {
  display: flex;
  row-gap: 3px;
  align-items: flex-start;
  flex-direction: column;
}

.inputIconContainer {
  font-family: var(--font-primary);
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
  width: 100%;

  .input {
    width: 100%;
    background: none !important;
    border: none !important;
  }
}
