.container {
  display: flex;
  row-gap: 3px;
  align-items: flex-start;
  flex-direction: column;

  .input {
    font-family: var(--font-code);
    font-weight: 500;
    font-size: 17px;
    background-color: var(--background-third);
    display: flex;
    align-items: center;
    padding: 10px;
    padding-inline: 15px;
    color: var(--text-primary);
    width: 100%;
    border: none;
    border-radius: 3px;
    //backdrop-filter: blur(2px);
  }
}
