
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 2px;
    scrollbar-color: var(--text-secondary) none;
}

:root {
    --background-primary: #fff;
    --background-secondary: #1c1c1c;
    --background-third: #212121;
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.5);
    --text-inactive: rgba(255, 255, 255, 0.3);
    --text-red: red;
    --font-sans-serif: Arial, sans-serif;
    --font-primary: var(--font-sans-serif);
}

body {
    color: var(--text-primary);
    background-color: var(--background-primary);
    font-family: var(--font-primary);
    overflow-x: hidden;
}

img,
button,
h1 {
    user-select: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
    font-family: var(--font-primary);
}

input {
    outline: none;
}

@media screen and (max-width: 700px) {
    * {
        filter: none !important;
        backdrop-filter: none !important;
    }
}

::-webkit-scrollbar {
    width: 2px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary);
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.nav span {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}