*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --background-primary: #111;
    --text-primary: #fff;
    --font-primary: sans-serif;
}

body {
    color: var(--text-primary);
    background-color: var(--background-primary);
    font-family: var(--font-primary);
    overflow-x: hidden;
}


button {
    background: none;
    color: var(--text-primary);
    font-family: var(--font-primary);
}

a {
    color: var(--text-primary);
    text-decoration: none;
}
