.cursor {
  position: fixed;
  backdrop-filter: blur(10px);
  //background-color: var(--text-primary);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  border: 3px solid var(--background-third);

  .followerText {
    position: absolute;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 22px;
    pointer-events: none;
    width: max-content;

    &[data-position='top'] {
      bottom: 102.5%;
    }

    &[data-position='bottom'] {
      top: 102.5%;
    }

    &[data-position='left'] {
      right: 115%;
    }

    &[data-position='right'] {
      left: 115%;
    }
  }
}
