.homePage {
  .nameContainer {
    .name {
      font-family: var(--font-secondary);
      font-size: 41px;
      text-decoration: none;
      font-weight: 600;
      line-height: 100%;
    }

    .nameDescription {
      font-family: var(--font-secondary);
      font-size: 31px;
      text-decoration: none;
      font-weight: 500;
      line-height: 100%;
    }
  }
}