@import '@/index.scss';

.typingTextContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: max-content;
  column-gap: 5px;

  span {
    @include circlesText;
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--text-primary);
    animation: typingTextAnim 0.6s both;

    @keyframes typingTextAnim {
      0% {
        opacity: 0;
        transform: translateY(15px);
      }
      50% {
        opacity: 0.8;
        transform: translateY(0);
      }
      100% {
        opacity: 1;
      }
    }
  }
}
