.typingTextContainer {
  display: flex;
  align-items: center;
  justify-content: inherit;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  span {
    //line-height: 100%;
    font-size: 16px;
    transition: 0.7s;

    @media screen and (min-width: 1000px) {
      &[data-visible='true'] {
        animation: typingTextAnimation 0.7s both;
      }

      &[data-visible='false'] {
        opacity: 0;
        transform: translateX(-15px);
      }
    }

    //@media screen and (max-width: 700px) {
    //  &[data-visible='true'] {
    //    animation: none !important;
    //    opacity: 1;
    //  }
    //
    //  &[data-visible='false'] {
    //    opacity: 0;
    //    transform: none !important;
    //  }
    //}

    @keyframes typingTextAnimation {
      0% {
        opacity: 0;
        transform: translateX(-15px);
      }
      50% {
        position: relative;
        text-shadow: 0 0 30px var(--text-primary);
      }
      75% {
        text-shadow: 0 0 5px var(--text-primary);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
        text-shadow: none;
      }
    }
  }
}
