.inputsContainer {
  display: flex;
  row-gap: 15px;
  flex-direction: column;

  .createCodeButton {
    font-family: var(--font-primary);
    text-decoration: underline;
    font-size: 13px;
    letter-spacing: -0.5px;
  }
}

.buttonsContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .registerButton {
    font-family: var(--font-primary);
    text-decoration: underline;
    font-size: 13px;
    letter-spacing: -0.5px;
  }

  .loginButton {
    width: 80px;
  }
}