.codeModal {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: 500;
  }

  .subtitle {
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--font-primary);
    font-weight: 500;
  }


  .resultInputContainer {
    width: 100%;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    height: 100%;

    .resultCopyButton {
      height: 100%;
      font-size: 17px;
      padding-inline: 13px;
      padding: 10px;
    }
  }

  .resetResult {
    cursor: pointer;
    text-decoration: underline;
  }

  .loginButton {
    margin-top: 15px;
  }

  .inputsContainer {
    margin-top: 15px;
    display: flex;
    row-gap: 15px;
    flex-direction: column;

    .dataInput {
      font-family: var(--font-secondary);
    }
  }

  .generateButton {
    margin-top: 15px;
  }
}